<div id='artist-info-sidebar'>
	<h2><%=@artist.artist_name%></h2>
	<div id='artist-show-pic-div'>
		<% if @artist.picture_file_name %>
			<img src='<%=@artist.picture.url%>'>
		<% end %>
	</div>
	<p><%=@artist.description%></p>
	<div id='artist-info-div'>
		<h4 id='follow-artist-show-title'>Follow This Artist</h4>
			<ul id='follow-artist-list'>
				<li>
					<a href='<%=@artist.facebook%>' target="_blank">
						<div class='sm-pics-div'>
							<%= image_tag "facebook.png"%>
						</div>
					</a>
				</li>
				<li>
					<a href='<%=@artist.twitter%>' target="_blank">
						<div class='sm-pics-div'>
							<%= image_tag "twitter.png"%>
						</div>
					</a>
					</li>
				<li>
					<a href='<%=@artist.instagram%>' target="_blank">
						<div class='sm-pics-div'>
							<%= image_tag "instagram.png"%>
						</div>
					</a>
				</li>
				<li>
					<a href='<%=@artist.soundcloud%>' target="_blank">
						<div class='sm-pics-div'>
							<%= image_tag "soundcloud.png"%>
						</div>
					</a>
				</li>
			</ul>
		<h4>Contact This Artist</h4>
		<p id='artist-contact-email'><%=@artist.email%></p>
	</div>
	<% if @artist_songs.count > 0 %>
	<div id='artist-songs-div'>
		<table>
			<thead>
				<tr class='song-row'>
					<th></th>
					<th><span>Song</span></th>
					<th><span>Genre</span></th>
				</tr>
			</thead>
			<tbody>
			<% @artist_songs.each{|s| %>
				<tr>
					<td>
					<button class='play-btn' id="<%=s.audio_file.url%>">&#9654</button>
					</td>
					<td><span><%=s.name%></span></td>
					<td><span><%=s.genre.name%></span></td>
				</tr>
			<% } %>
			</tbody>
		</table>
	</div>
	<% end %>
</div>