<div id='new-song-div'>
	<button class='close'>X</button>
	<h1 class='form-header'>Song Information</h1>
	<% if flash[:errors]
		flash[:errors].each{|e|%>
		<p><%=e%></p>
		<% }
	end %>
	<% for i in 1..session[:song_qty] do %>
		<% if session[:songs_made][i-1]
			song = get_song(session[:songs_made][i-1]['id']) %>
			<div class='song-complete-div new-song-<%=i%>'>
				<div class='song-input-row-1'><span>Name:</span><span class='song-info-bold'><%=song.name%></span></div>
				<div class='song-input-row-2'><span>BPM:</span><span class='song-info-bold'><%=song.bpm%></span></div>
				<div class='song-input-row-2'><span>Key:</span><span class='song-info-bold'><%=song.key%></span></div>
				<div class='song-input-row-3'><span>Availibility:</span><span class='song-info-bold'>
					<% if song.public %>
						Public
					<% else %>
						Private
					<% end %>
				</span></div>
				<div class='song-input-row-3'><span>Genre:</span><span class='song-info-bold'><%=song.genre.name%></span></div>
			</div>
		<% else %>
			<div class='new-song-form new-song-<%=i%>'>
				<%= form_for @song, :url => '/songs/create', :html => {:multipart => true, :class => "no-file"} do |f| %>
					<input type='hidden' name='songnum' value="<%=i%>">
					<div class='song-input-row-1'>
						<label for='song[name]'>Name:</label>
						<%= f.text_field :name %>
					</div>
					<div class='song-input-row-2'>
						<label for='song[bpm]'>BPM:</label>
						<%= f.text_field :bpm %></div>
					<div class='song-input-row-2'>
						<label for='song[key]'>Key Signature:</label>
						<%= f.text_field :key %>
					</div>
					<div id='song-input-third-row'>
						<div class='song-input-row-3'>
							<label for='song[public]'>Availibility:</label>
							<select name='song[public]'>
								<option value='true'>Public</option>
								<option value='false'>Private</option>
							</select>
						</div>
						<div class='song-input-row-3'>
							<label for='song[genre]'>Genre:</label>
							<select name='song[genre]'>
							<%	@genres.each{|g| %>
									<option value="<%=g.id%>"><%=g.name%></option>
							<% } %>
							</select>
						</div>
					</div>
					<button>Add Song</button>
				<% end %>
			</div>
		<% end %>
		<% if i.even? %>
			<br>
		<% end %>
	<% end %>
	<% if session[:songs_pending] == 0 %>
		<br>
		<a href='/audio_upload'><button>Upload Audio Files</button></a>
	<% end %>
</div>