<div id='new-song-div'>
	<span class='close'>X</span>
	<h1>Song Information</h1>
	<% if flash[:errors]
		flash[:errors].each{|e|%>
		<p><%=e%></p>
		<% }
	end %>
	<% for i in 1..session[:song_qty] do %>
		<% if session[:songs_made][i-1] 
			song = session[:songs_made][i-1] %>
			<div class='song-complete-div new-song-<%=i%>'>
				<p><span>Name:</span> <%=song.name%><p>
				<p><span>BPM:</span> <%=song.bpm%></p><br>
				<p><span>Key:</span> <%=song.key%></p><br>
				<p><span>Availibility:</span> <%=song.key%></p><br>
				<p><span>Genre:</span> <%=song.genre.name%></p><br>
			</div>
		<% else %>
			<div class='new-song-form new-song-<%=i%>'>
				<%= form_for @song, :url => '/songs/create', :html => {:multipart => true, :class => "no-file"} do |f| %>
					<input type='hidden' name='songnum' value="<%=i%>">
					<p><%= f.label :name %>
					<%= f.text_field :name %></p>
					<p class='small-input'><label for='song[bpm]'>BPM</label>
					<%= f.text_field :bpm %></p>
					<p class='small-input'><label for='song[key]'>Key Signature</label>
					<%= f.text_field :key %></p>
					<p><label for='song[public]'>Availibility</label>
						<select name='song[public]'>
							<option value='true'>Public</option>
							<option value='false'>Private</option>
						</select>
					</p>
					<p><label for='song[genre]'>Genre</label>
						<select name='song[genre]'>
						<%	@genres.each{|g| %>
								<option value="<%=g.id%>"><%=g.name%></option>
						<% } %>
						</select>
					</p>
					<button>Add Song</button>
				<% end %>
			</div>
		<% end %>
		<% if i.even? %>
			<br>
		<% end %>
	<% end %>
	<% if session[:songs_pending] == 0 %>
		<br>
		<a href='/audio_upload'><button>Upload Audio Files</button></a>
	<% end %>
</div>