<div id='register-div'>
	<button class='close'>X</button>
	<span id='reg-to-log' class='popup-click' data-alt-src='/login_popup'>Already Have An Account? Login</span>
	<h1>Artist Information</h1>
	<%= form_for @user, :url => '/register', :html => {:multipart => true, :class => "no-file"} do |f| %>
		<input type='hidden' name='file-field' id='file-field' value='true'>
		<p<% if flash[:errors]
				if flash[:errors][:first_name]%> 
					class='error'
				<% end 
			end %>><label for='user[first_name]'>First Name</label>
		<%= f.text_field :first_name %></p>
		<p<% if flash[:errors]
				if flash[:errors][:last_name]%> 
					class='error'
				<% end 
			end %>><label for='user[last_name]'>Last Name</label>
		<%= f.text_field :last_name %></p>
		<p<% if flash[:errors]
				if flash[:errors][:artist_name]%> 
					class='error'
				<% end 
			end %>><label for='user[artists_name]'>Artist Name</label>
		<%= f.text_field :artist_name %></p>
		<p<% if flash[:errors]
				if flash[:errors][:phone_number]%> 
					class='error'
				<% end 
			end %>><label for='user[phone_number]'>Phone Number</label>
		<%= f.text_field :phone_number %></p>
		<p<% if flash[:errors]
				if flash[:errors][:email]%> 
					class='error'
				<% end 
			end %>><%= f.label :email %>
		<%= f.text_field :email %></p>
		<p<% if flash[:errors]
				if flash[:errors][:password]%> 
					class='error'
				<% end 
			end %>><%= f.label :password %>
		<%= f.password_field :password %></p>
		<p<% if flash[:errors]
				if flash[:errors][:confirm_password]%> 
					class='error'
				<% end 
			end %>><label for='user[password_confirmation]'>Confirm Password</label>
		<%= f.password_field :password_confirmation %></p>
		<p<% if flash[:errors]
				if flash[:errors][:description]%> 
					class='error'
				<% end 
			end %>><label for='user[description]'>Artist Description</label><br>
		<%= f.text_area :description %></p>
		<p<% if flash[:errors]
				if flash[:errors][:facebook]%> 
					class='error'
				<% end 
			end %>><%= f.label :facebook %>
		<%= f.text_field :facebook %></p>
		<p<% if flash[:errors]
				if flash[:errors][:twitter]%> 
					class='error'
				<% end 
			end %>><%= f.label :twitter %>
		<%= f.text_field :twitter %></p>
		<p<% if flash[:errors]
				if flash[:errors][:instagram]%> 
					class='error'
				<% end 
			end %>><%= f.label :instagram %>
		<%= f.text_field :instagram %></p>
		<p<% if flash[:errors]
				if flash[:errors][:soundcloud]%> 
					class='error'
				<% end 
			end %>><%= f.label :soundcloud %>
		<%= f.text_field :soundcloud %></p>
		<!-- <p><label for='user[picture]'>Picture</label>
		<%= f.file_field :picture %></p> -->
		<button>Register</button>
	<% end %>
</div>