<div id='social-media-div'>
	<span class='close'>X</span>
	<h2 class='form-header'>Update Social Media</h2>
	<%= form_for @user, :url => '/users/update_sm', :html => {:multipart => true, :class => "no-file"} do |f| %>
		<label>Facebook:</label>
		<%= f.text_field :facebook %>
		<label>Twitter:</label>
		<%= f.text_field :twitter %>
		<label>Instagram:</label>
		<%= f.text_field :instagram %>
		<label>Soundcloud:</label>
		<%= f.text_field :soundcloud %>
		<button> Update Links</button>
	<% end %>
</div>