<table>
	<thead>
		<tr>
			<th><span></span></th>
			<th><span>Artist</span></th>
			<th><span>Song</span></th>
			<th><span>Genre</span></th>
		</tr>
	</thead>
	<tbody>
	<% @songs.each{|s|
		song = get_song(s.id)%>
		<tr class='artist-row' id="<%=song.user.id%>">
			<td><button class='play-btn' id="<%=song.audio_file.url%>" data-alt-src='<%=song.id%>'>Play</button></td>
			<td><span><%=song.user.artist_name%></td>
			<td><span><%=song.name%></span></td>
			<td><span><%=song.genre.name%></span></td>
		</tr>
	<% } %>
	</tbody>
</table>