<table>
	<thead>
		<tr>
			<th><span></span></th>
			<th><span>Artist</span></th>
			<th><span>Song</span></th>
		</tr>
	</thead>
	<tbody>
	<% @songs.each{|s|
		song = get_song(s.id)%>
		<tr class='artist-row' id="<%=song.user.id%>">
			<td><button class='play-btn' id="<%=song.audio_file.url%>" data-alt-src='<%=song.id%>'></button></td>
			<td><span><%=song.user.artist_name%></td>
			<td><span><%=song.name%></span></td>
		</tr>
	<% } %>
	</tbody>
</table>
<div id='page-div'>
	<ul>
	<% if @current_page != 1 %>
		<li class='pagination' id='first-page' data-alt-src='1'>First</li>
		<span>...</span>
		<li class='pagination' id='prev-page' data-alt-src='<%=(@current_page.to_i - 1)%>'>Prev</li>
	<% end %>
	<% pages = (@song_count/5.to_f).ceil
	for i in 1..pages do %>
		<li class='pagination' data-alt-src='<%=i%>'
		<% if i == @current_page.to_i %>
			id='on-page'
		<% end %>
		><%=i%></li>
	<% end %>
	<% if @current_page.to_i != i %>
		<li class='pagination' id='last-page' data-alt-src='<%=(@current_page.to_i + 1)%>'>Next</li>
	<% end %>
	</ul>
</div>