<table>
	<thead>
		<tr>
			<th></th>
			<th><span>Song</span></th>
			<th><span>Genre</span></th>
			<th><span>Availibility</span></th>
			<th><span>Rating</span></th>
		</tr>
	</thead>
	<tbody>
	<% @user_songs.each{|s| %>
		<tr class='song-row' 
			<% if s.reviewed %>
				data-alt-src='/songs/report_partial/<%=s.id%>'
			<% else %>
				data-alt-src='/songs/show/<%=s.id%>'
			<% end %>
			><td>
			<% if !s.audio_file_file_name %>
				<button class='popup-click' data-alt-src='/songs/upload_audio/<%=s.id%>'>Song</button>
			<% else %>
				<button class='play-btn' id="<%=s.audio_file.url%>" data-alt-src='<%=s.id%>'></button>
			<% end %></td>
			<td><span><%=s.name%></span></td>
			<td><span><%=s.genre.name%></span></td>
			<td>
			<% if s.public %>
				<span>Public</span>
			<% else %>
				<span>Private</span>
			<% end %>
			</td>
			<td>
			<% if s.reviewed %>
				<span><%=s.rating%></span>
			<% else %>
				<span class='pending'>Pending</span>
			<% end %>
			</td>
		</tr>
	<% } %>
	</tbody>
</table>
<% if @user_song_count > 5 %>
	<div id='page-div'>
		<ul>
		<% if @user_current_page != 1 %>
			<li class='user-pagination' id='first-page' data-alt-src='1'>First</li>
			<span>...</span>
			<li class='user-pagination' id='prev-page' data-alt-src='<%=(@user_current_page.to_i - 1)%>'>Prev</li>
		<% end %>
		<% pages = (@user_song_count/5.to_f).ceil
		for i in 1..pages do %>
			<li class='user-pagination' data-alt-src='<%=i%>'
			<% if i == @user_current_page.to_i %>
				id='on-page'
			<% end %>
			><%=i%></li>
		<% end %>
		<% if @user_current_page.to_i != i %>
			<li class='user-pagination' id='last-page' data-alt-src='<%=(@user_current_page.to_i + 1)%>'>Next</li>
		<% end %>
		</ul>
	</div>
<% end %>