<div id='main-div'>
	<h1 class='header-text' id='artist-name-show'>
		<span class='show-to-edit' id='artist-name'><%=@user.artist_name%></span>
		<input type='text' value='<%=@user.artist_name%>' class='user-edit' id='edit-artist-name' data-alt-field="artist_name">
	</h1>
	<div id='artist-pic-div'>
		<% if @user.picture_file_name %>
			<img src="<%=@user.picture.url%>">
			<button id='add-picture' class='popup-click' data-alt-src='/users/upload_pic'>Update Picture</button>
		<% else %>
			<button id='add-picture' class='popup-click' data-alt-src='/users/upload_pic'>Upload A Picture</button>
		<% end %>
	</div>
	<div id='artist-info-div'>
		<div id='artist-info-left-div'>
			<span class='artist-bold-text'>Name:</span>
			<p class='show-to-edit' id='full_name'><%=@user.first_name%> <%=@user.last_name%></p>
			<p>
				<input type='text' value='<%=@user.first_name%>' id='edit-first-name' class='user-edit' data-alt-field="first_name">
				<input type='text' value='<%=@user.last_name%>' id='edit-last-name' class='user-edit' data-alt-field="last_name">
			</p>

			<span class='artist-bold-text'>Email:</span>
			<p class='show-to-edit'  id='email'><%=@user.email%></p>
			<p>
				<input type='text' value='<%=@user.email%>' id='edit-email' class='user-edit' data-alt-field="email">
			</p>

			<span class='artist-bold-text'>Phone:</span> 
			<p class='show-to-edit' id='phone-number'>
				(
					<% for i in 0...3 %>
					<%=@user.phone_number[i]%>
					<% end %>
				)
					<% for i in 3...6 %>
					<%=@user.phone_number[i]%>
					<% end %>
				-
					<% for i in 6..10 %>
					<%=@user.phone_number[i]%>
					<% end %>
			</p>
			<p>
				<input type='text' value='<%=@user.phone_number%>' id='edit-phone-number' class='user-edit' data-alt-field="phone_number">
			</p>
		</div>
		<div id='artist-info-right-div'>
			<p id='follow-artist-title' class='popup-click' data-alt-src="/users/sm_popup">Social Media</p>
			<ul id='follow-artist-list'>
				<% if @user.facebook == "" %>
				<li>
					<div class='sm-pics-div'>
						<%= image_tag "facebook.png"%>
					</div>
				</li>
				<% else %>
				<li>
					<a href='<%=@user.facebook%>' target="_blank">
						<div class='sm-pics-div'>
							<%= image_tag "facebook.png"%>
						</div>
					</a>
				</li>
				<% end %>
				<% if @user.twitter == "" %>
				<li>
					<div class='sm-pics-div'>
						<%= image_tag "twitter.png"%>
					</div>
				</li>
				<% else %>
				<li>
					<a href='<%=@user.twitter%>' target="_blank">
						<div class='sm-pics-div'>
							<%= image_tag "twitter.png"%>
						</div>
					</a>
				</li>
				<% end %>
				<br>
				<% if @user.instagram == "" %>
				<li>
					<div class='sm-pics-div'>
						<%= image_tag "instagram.png"%>
					</div>
				</li>
				<% else %>
				<li>
					<a href='<%=@user.instagram%>' target="_blank">
						<div class='sm-pics-div'>
							<%= image_tag "instagram.png"%>
						</div>
					</a>
				</li>
				<% end %>
				<% if @user.soundcloud == "" %>
				<li>
					<div class='sm-pics-div'>
						<%= image_tag "soundcloud.png"%>
					</div>
				</li>
				<% else %>
				<li>
					<a href='<%=@user.soundcloud%>' target="_blank">
						<div class='sm-pics-div'>
							<%= image_tag "soundcloud.png"%>
						</div>
					</a>
				</li>
				<% end %>
			</ul>
		</div>
		<p class='show-to-edit' id='description'><%=@user.description%></p>
		<p>
		<textarea id='edit-description' class='user-edit' data-alt-field="description"><%=@user.description%></textarea>
		</p>
	</div>
	<div id='profile-artist-songs-div'>
		<table>
			<thead>
				<tr>
					<th></th>
					<th><span>Song</span></th>
					<th><span>Genre</span></th>
					<th><span>Availibility</span></th>
					<th><span>Rating</span></th>
				</tr>
			</thead>
			<tbody>
			<% @songs.each{|s| %>
				<tr class='song-row'
				<% if s.reviewed %>
					data-alt-src='/songs/report_partial/<%=s.id%>'
				<% else %>
					data-alt-src='/songs/show/<%=s.id%>'
				<% end %>
				>
					<td>
					<% if !s.audio_file_file_name %>
						<button class='popup-click' data-alt-src='/songs/upload_audio/<%=s.id%>'>Song</button>
					<% else %>
						<button class='play-btn' id="<%=s.audio_file.url%>" data-alt-src='<%=s.id%>'>&#9654</button>
					<% end %></td>
					<td><span><%=s.name%></span></td>
					<td><span><%=s.genre.name%></span></td>
					<td>
					<% if s.public %>
						<span>Public</span>
					<% else %>
						<span>Private</span>
					<% end %>
					</td>
					<td>
					<% if s.reviewed %>
						<div class='table-rating-div'>
							<% for i in 0..5 do
								if i < s.rating %>
								<div class='star-rating-div'>
									<%= image_tag "goldstar.png" %>
								</div>
								<% end %>
							<% end %>
						</div>
					<% else %>
						<span class='pending'>Pending</span>
					<% end %>
					</td>
				</tr>
			<% } %>
			</tbody>
		</table>
	</div>
</div>
<div id='side-div'>
	<%= render :partial => "partials/button_bar" %>
	<div id='sidebar'></div>
</div>
<%= render :partial => "partials/playbar" %>