<div id='main-div'>
<div id='featured-header'>
	<h3 class='header-text'>Featured Artists</h3>
</div>
<div id='featured-div'>
	<ul>
	<% @featured_artists.each{|a| 
		artist = get_user(a.user_id) %>
		<li>
			<div class='featured-images-div artist-row' id='<%=artist.id%>'>
				<h4><%=artist.artist_name%></h4>
				<%= image_tag "#{artist.picture.url}" %>
			</div>
		</li>
	<% } %>
	</ul>
</div>
	<div id='top-songs-header'>
		<div id='search-div'>
			<input class='top-search' id='top-search-input' type='text' name='search' placeholder="Search">
			<select class='top-search' id='top-search-genre' name='genre'>
				<option value='0' selected='selected'>Any Genre</option>
			<% genres = get_genres
				genres.each{|g| %>
				<option value='<%=g.id%>'><%=g.name%></option>
			<% } %>
			</select>
		</div>
		<h3 class='header-text'>New Heat</h3>
	</div>
	<div id='top-songs-div'>
		<%= render :partial => "partials/top_songs" %>
	</div>

	<% if @user_songs %>
		<div id='top-songs-header'>
			<h3 class='header-text'>Your Songs</h3>
		</div>
		<div id='user-songs-div'>
			<%= render :partial => "partials/user_songs" %>
		</div>
	<% end %>
</div>
<div id='side-div'>
	<%= render :partial => "partials/button_bar" %>
	<div id='sidebar'></div>
</div>
<%= render :partial => "partials/playbar" %>