<!DOCTYPE html>
<html>
<head>
  <title>LabelResearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='popup'></div>
<div id='container'>
	<div id='sidebar'></div>
	<%= render :partial => "partials/button_bar" %>
	<%= render :partial => "partials/header" %>
	<%= yield %>
	<%= render :partial => "partials/playbar" %>
</div>

</body>
</html>
