<!DOCTYPE html>
<html>
<head>
  <title>LabelResearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Khand:700|Rokkitt" rel="stylesheet">
</head>
<body>

<div id='popup'></div>
<div id='left-background'><%= image_tag 'courtlin.jpg' %></div>
<div id='right-background'><%= image_tag 'roxxanne-montana.jpg' %></div>
<div id='container'>
	<%= render :partial => "partials/header" %>
	<%= yield %>
</div>

</body>
</html>
